/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    color: #333;
  }

  /* Sidebar */
  .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .sidebar a {
    padding: 12px 16px;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;
  }

  .sidebar a:hover {
    background-color: #4CAF50;
  }

  /* Main content */
  .main-content {
    margin-left: 250px;
    padding: 20px;
    background-color: #f0f4f8;
    height: 100vh;
    overflow-y: auto;
  }

  .container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    max-width: 800px;
    width: fit-content;
    text-align: center;
    margin: auto;
  }

  h1 {
    font-size: 2.5em;
    color: #4CAF50;
    margin-bottom: 20px;
  }

  .status-container {
    text-align: center;
  }

  .status-section {
    margin-bottom: 30px;
  }

  .status-section h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
  }

  .status-card {
    display: inline-block;
    width: 45%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: 1.1em;
    margin-bottom: 20px;
  }

  .status-card p {
    margin: 5px 0;
  }

  .status-card .status-value {
    font-weight: bold;
    color: #4CAF50;
  }

  .status-card .temp-value {
    font-weight: bold;
    color: #4CAF50;
    font-size: 3em;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #45a049;
  }

  .footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  label {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    color: #555;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
  }

  .btn-container {
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .on {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80px;
  }

  .off {
    background-color: #a04545;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80px;
  }

  .restart {
    background-color: #a04545;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 70%;
  }


  /* Responsive Design */
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      position: relative;
      height: auto;
      flex-direction: row;
      justify-content: flex-start;
    }

    .sidebar a {
      font-size: 1em;
      padding: 10px;
      text-align: center;
    }

    .main-content {
      margin-left: 0;
    }

    .container {
      width: 90%;
      padding: 15px;
    }

    .status-card {
      width: 90%;
      margin-right: 0;
      margin-bottom: 15px;
    }

    .btn-container {
      padding-top: 15px;
    }
  }